@use '../abstracts/vars' as vars;

.footer {
  background: var(--surface);
  color: black;
  border-top: 1px solid var(--border);
  padding: vars.$space-3 0;
  margin-top: auto;

  &__inner {
    display: grid;
    grid-template-columns: 1fr;
    gap: vars.$space-3;
    max-width: vars.$container;
    margin: 0 auto;
    padding: 0 vars.$space-5;
    align-items: start;
  }

  &-group {
    display: flex;
    flex-direction: column;

    address ul {
      display: grid;
      gap: vars.$space-1;

      .footer-item {
        display: grid;
        grid-template-columns: max-content 1fr;
        gap: vars.$space-1;
        align-items: baseline;
      }
    }
  }

  &-title {
    font-size: 1rem;
    margin-bottom: vars.$space-2;
    color: var(--brand-light);
    font-weight: 700;
  }

  &-list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &-item {
    color: var(--fg);
  }

  &-link {
    color: var(--fg);
    text-decoration: none;

    &:hover,
    &:focus-visible {
      text-decoration: underline;
      color: vars.$accent;
    }
  }

  &__text {
    text-align: center;
    padding-top: vars.$space-2;
    border-top: 1px solid var(--border);
    margin: 0 vars.$space-5;
    font-size: 0.9rem;
    color: white;
  }

  &-label {
    color: var(--fg-muted);
    white-space: nowrap;
    font-weight: 600;
  }
}
