.skip-link {
  position: absolute;
  top: -40px;
  left: 6px;
  background: $brand;
  color: white;
  padding: $space-1 $space-2;
  text-decoration: none;
  z-index: 100;

  &:focus {
    top: 6px;
  }
}