@import "tailwindcss";

@theme static {
    --color-brand: #002b5c;
    --color-brand-light: #4a90e2;
    --color-accent: #ff6b35;
}

@layer base {
    h1, h2, h3, h4, h5, h6 {
        font-weight: bold;
    }
}