{{#> layout  pageTitle="Про нас" studentGroup="6.1213-1" pageCode="about"}}

  <section>
    <div class="team__title">Наша команда</div>

    <template id="employee-card-tpl">
      <article class="employee-card">
        <div class="employee-card__photo">
          <img 
            src="" 
            alt="" 
            width="320" 
            height="240" 
            loading="lazy" />
        </div>
        <div class="employee-card__body">
          <p class="employee-card__name"></p>
          <p class="employee-card__post"></p>
        </div>
        <p class="btn-brand employee-card__cta">
          <a 
            href="#" 
            target="_blank" 
            rel="noopener">
            Дізнатись
          </a>
        </p>
      </article>
    </template>
  </section>

{{/layout}}