<aside class="sidenav">
    <section class="sidebar sidebar-nav--links" aria-label="Корисні посилання">
        <h2 class="sidebar__title">Корисні посилання</h2>
        <ul class="sidebar__list">
            <li class="sidebar__item"><a href="https://developer.mozilla.org/" class="sidebar__link" target="_blank"
                    rel="noopener">MDN Web Docs</a></li>
        </ul>
    </section>
    <section class="sidebar sidebar-nav--links" aria-label="Цінності">
        <h2 class="sidebar__title">Цінності</h2>
        <ul class="sidebar__list">
            <li class="sidebar__item">Якість коду та прозорість</li>
            <li class="sidebar__item">Навчання через практику</li>
            <li class="sidebar__item">Комунікація та підтримка</li>
        </ul>
    </section>
    <section class="sidebar sidebar-nav--links" aria-label="Соціальні мережі">
        <h2 class="sidebar__title">Соціальні мережі</h2>
        <ul class="sidebar__list">
            <li class="sidebar__item"><a href="#!" class="sidebar__link">Facebook</a></li>
            <li class="sidebar__item"><a href="#!" class="sidebar__link">IG</a></li>
            <li class="sidebar__item"><a href="#!" class="sidebar__link">LinkedIn</a></li>
        </ul>
    </section>
</aside>