<footer class="footer">
    <div class="footer__inner">
        <div class="footer-group">
            <h3 class="footer-title">Компанія</h3>
            <ul class="footer-list">
                <li><a href="#" class="footer-link">Головна</a></li>
                <li><a href="#" class="footer-link">Про нас</a></li>
                <li><a href="#" class="footer-link">Контакти</a></li>
            </ul>
        </div>
        <div class="footer-group">
            <h3 class="footer-title">Наші контакти</h3>
            <address>
                <ul class="footer-list">
                    <li class="footer-item">вул. Університетська, 66Б</li>
                    <li class="footer-item">+380 (44) 123-45-67</li>
                </ul>
            </address>
        </div>
        <div class="footer-group">
            <h3 class="footer-title">Соціальні мережі</h3>
            <ul class="footer-list">
                <li><a href="#" class="footer-link">Facebook</a></li>
                <li><a href="#" class="footer-link">Instagram</a></li>
                <li><a href="#" class="footer-link">LinkedIn</a></li>
            </ul>
        </div>
    </div>
    <p class="footer__text">© 2025 Group: {{ studentGroup }}</p>
</footer>