<!DOCTYPE html>
<html lang="en">

<head>
    {{> head pageTitle=pageTitle }}
</head>

<body data-page-code="{{ pageCode }}">
    <div class="layout">
        {{> header }}
        {{> aside }}

        <main class="main">
            {{#if (eq pageCode 'about')}}
                {{> about-content }}
            {{else if (eq pageCode 'main')}}
                {{> main-content }}
            {{else if (eq pageCode 'contacts')}}
                {{> contacts-content }}
            {{else}}
                {{> partial-block }}
            {{/if}}
        </main>
        {{> footer studentGroup=studentGroup }}
    </div>

    <script type="module" src="/src/main.js"></script>
</body>

</html>