@use '../abstracts/vars' as vars;

html {
  font-size: 16px;
}

body {
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
  color: var(--text);
  background: var(--bg);
  line-height: 1.6;
  font-size: vars.$fs-body;
}

a {
  color: vars.$brand-light;

  &:hover {
    text-decoration: underline;
  }
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
